.cards-container {
    padding: 100px 300px;
    display: flex;
    justify-content: center;
    gap: 3rem;
    flex-wrap: wrap;
}

li {
    margin: 7px 0px;
}

.userList-container {
    padding: 10px;
    background-color: rgb(253, 253, 253);
    border-radius: 5px;
    border: rgb(142, 142, 142);
    box-shadow: 0px 0px 5px 2px rgb(193, 193, 193);
    width: 330px;
    height: 230px;
}

.card-name {
    text-align: center;
    font-size: 1.1rem;
    padding: 4px;
    border-bottom: solid 2px rgb(176, 176, 176);
}

.email-text, .birthday-text {
    color: gray;
}

.card-email, .card-birthday {
    font-weight: 520;
}

.card-birthday {

}

.button-container {
    border-top: solid 2px rgb(176, 176, 176);
    padding: 10px;
    display: flex;
    justify-content: flex-end;
    gap: 0.5rem;
}

.button-delete {
    width: 40px;
    height: 40px;
    background-color: rgb(164, 0, 0);
    border: 2px solid rgb(83, 0, 0);
    border-radius: 5px;
    cursor: pointer;
}

.button-edit {
    width: 40px;
    height: 40px;
    background-color: gray;
    border: 2px solid black;
    border-radius: 5px;
    cursor: pointer;
    
}